$main-color: #fff
$text-color: #4b4141
$accent-color: #fdb902

body
    font-family: "Poppins-Medium", "Arial", "Helvetica", sans-serif
    background-color: gray

/* top wrapper */

.topWrapper
    background: url(../images/top_bg.jpg) no-repeat center top
    background-size: cover

/* header */

.header
    position: relative
    padding: 60px 0
    .container
        .row
            display: flex
            align-items: center
    .header__logo
        display: block
        width: 108px
        height: 25px
        background: url(../images/logo.png) no-repeat center center
        background-size: cover
    .header__btn
        float: right
        padding: 13px 23px 13px 18px
        font-family: "Poppins-SemiBold"
        font-size: 14px
        color: $main-color
        border: 2px solid $main-color
        border-radius: 4px
        outline: none
        background-color: transparent
        text-transform: uppercase
        transition: all .3s ease
        span
            margin-right: 11px
        &:hover
            color: $text-color
            background-color: $main-color
    .header__mobileMenuIcon
        display: none
        width: 102px
        padding: 11px 16px
        border: 2px solid $main-color
        margin: 0 auto
        span
            display: block
            width: 65px
            height: 2px
            margin-bottom: 9px
            background-color: $main-color
            &:last-child
                margin-bottom: 0
    .header__nav
        .menu
            padding: 0
            margin: 0
            list-style-type: none
            .menu__item
                float: left
                margin-right: 54px
                a
                    display: block
                    font-size: 14px
                    color: $main-color
                    text-transform: uppercase
                    text-decoration: none
                    &:after
                        display: block
                        content: ""
                        width: 0
                        height: 2px
                        margin-top: 3px
                        background-color: transparent
                        transition: all .3s ease
                    &:hover
                        &:after
                            width: 100%
                            background-color: $main-color
                &:last-child
                    margin-right: 0
    .header__mobileMenu
        position: absolute
        top: 0
        right: 0
        z-index: 1
        opacity: 0
        background-color: rgba(12, 12, 12, .9)
        border: 2px solid #fff
        transition: all .5s ease

/* hero */

.hero
    padding: 115px 0 308px
    img
        display: block
        max-width: 100px
        height: auto
        margin: 0 auto
    .hero__title
        margin: 0
        line-height: 1
        font-family: "Yesteryear-Regular"
        font-size: 220px
        color: $accent-color
        text-align: center
    .hero__subtitle
        margin: 0
        line-height: 1
        font-family: "Poppins-SemiBold"
        font-size: 18px
        color: $main-color
        text-align: center
        text-transform: uppercase

/* today */

.today
    position: relative
    padding: 333px 0 238px
    background-color: $main-color
    .today__borderTop
        position: absolute
        top: -42px
        left: 0
        z-index: 1
        width: 100%
        height: auto
    .today__tomatoesImg
        position: absolute
        top: -392px
        right: 0
        z-index: 2
        max-width: 100%
        height: auto
    .today__item
        display: flex
        align-items: flex-start
        margin-bottom: 165px
        .today__textContent
            width: 55%
            padding: 0 195px 0 96px
            .today__number
                margin: 0 0 50px
                color: $text-color
                font-family: "Poppins-Bold"
                font-size: 36px
                text-transform: uppercase
                span
                    color: $accent-color
            .today__label
                margin: 0 0 -23px
                line-height: 1
                color: #e5e5e5
                font-family: "Yesteryear-Regular"
                font-size: 75px
            .today__title
                position: relative
                margin: 0 0 22px
                color: $text-color
                font-family: "Poppins-Bold"
                font-size: 36px
                text-transform: uppercase
                &:before
                    position: absolute
                    top: 22px
                    left: -123px
                    content: ""
                    width: 95px
                    height: 2px
                    background-color: $text-color
            .today__desc
                margin: 0 0 34px
                color: $text-color
                font-family: "Crimson-Roman"
                font-size: 16px
            .today__price
                margin: 0 0 26px
                color: $accent-color
                font-family: "Poppins-Bold"
                font-size: 24px
                text-transform: uppercase
            .today__link
                margin: 0 0 49px
                color: $text-color
                font-family: "Poppins-Bold"
                font-size: 12px
                text-transform: uppercase
                text-decoration: underline
                span
                    margin-left: 7px
        .today__itemImg
            width: 45%
            img
                display: block
                max-width: 100%
                height: auto
        &:last-child
            margin-bottom: 0
    .today__item.rightSide
        flex-direction: row-reverse
        .today__textContent
            padding: 0 96px 0 195px
            .today__title
                &:before
                    left: -230px
                    width: 196px

/* our story */

.ourStory
    position: relative
    padding: 115px 0
    background: url(../images/our_story_bg.jpg) no-repeat center center #f7f7f7
    background-size: contain
    .ourStory__content
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        .ourStory__logo
            display: block
            width: 108px
            height: 25px
            margin: 0 0 36px
        .ourStory__title
            margin: 0 0 20px
            color: $text-color
            font-family: "Poppins-Bold"
            font-size: 24px
            text-align: center
            text-transform: uppercase
            white-space: pre-line
        .ourStory__text
            margin: 0 0 78px
            color: $text-color
            font-family: "Crimson-Roman"
            font-size: 16px
            text-align: center
            white-space: pre-line
        .ourStory__author
            position: relative
            margin: 0 0 24px
            color: $text-color
            font-family: "Poppins-SemiBold"
            font-size: 14px
            text-transform: uppercase
            &:before
                content: ""
                position: absolute
                top: 50%
                left: -61px
                width: 52px
                height: 2px
                background-color: $text-color
            &:after
                content: ""
                position: absolute
                top: 50%
                right: -61px
                width: 52px
                height: 2px
                background-color: $text-color
    .ourStory__borderBottom
        position: absolute
        bottom: -27px
        left: 0
        z-index: 1
        width: 100%
        height: auto

/* video */

.video
    position: relative
    padding: 168px 0 150px
    background: url(../images/video_bg.jpg) no-repeat center center
    background-size: cover
    .video__content
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        padding: 84px 0 81px
        border: 2px solid rgba(255, 255, 255, .5)
        .video__title
            margin: 0 0 20px
            color: $accent-color
            font-family: "MrDafoe-Regular"
            font-size: 150px
        .video__subtitle
            margin: 0 0 61px
            color: $main-color
            font-family: "Poppins-SemiBold"
            font-size: 16px
            text-transform: uppercase
            letter-spacing: 4px
        .video__btn
            width: 96px
            height: 92px
            background: url(../images/video_btn.png) no-repeat center center
            background-size: cover
            border: none
            outline: none

/* next event */

.next
    position: relative
    padding: 190px 0 141px
    background-color: $main-color
    .next__borderTop
        position: absolute
        top: -38px
        left: 0
        z-index: 1
        width: 100%
        height: auto
    .next__eggImg
        position: absolute
        top: -285px
        left: 0
        z-index: 2
        max-width: 100%
        height: auto
    .next__item
        display: flex
        justify-content: space-between
        align-items: flex-start
        .next__textContent
            width: 60%
            padding: 70px 100px 0 214px
            text-align: left
            .next__title
                position: relative
                display: inline-block
                padding: 20px 27px 14px 33px
                margin: 0 0 35px
                border: 4px solid $text-color
                color: $text-color
                font-family: "Poppins-SemiBold"
                font-size: 30px
                text-transform: uppercase
                &:before
                    position: absolute
                    top: 38px
                    left: -200px
                    content: ""
                    width: 217px
                    height: 2px
                    background-color: #4b4141
            .next__text
                margin: 0 0 47px
                color: $text-color
                font-family: "Crimson-Roman"
                font-size: 16px
            .next__link
                display: block
                margin: 0 0 64px
                color: $text-color
                font-family: "Poppins-Bold"
                font-size: 12px
                text-transform: uppercase
                text-decoration: underline
                letter-spacing: 1px
                span
                    margin-left: 10px
        .next__itemImg
            width: 40%
            img
                display: block
                max-width: 100%
                height: auto

/* reservation */

.reservation
    position: relative
    padding: 108px 0 168px
    background: url(../images/reservation_bg.jpg) no-repeat center top
    .reservation__title
        margin: 0 0 24px
        line-height: 1
        color: $text-color
        font-family: "Poppins-SemiBold"
        font-size: 30px
        text-transform: uppercase
        text-align: center
    .reservation__text
        margin: 0 0 54px
        color: $text-color
        font-family: "Crimson-Roman"
        font-size: 16px
        text-align: center
        white-space: pre-line
    .reservation__buttons
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        ul
            width: 100%
            padding: 0
            margin: 0 -12px 42px
            list-style-type: none
            font-size: 0
            li
                display: inline-block
                width: 33.3333%
                padding: 0 12px
                button
                    position: relative
                    display: block
                    width: 100%
                    padding: 21px 0
                    border: none
                    border-radius: 4px
                    color: #574e4e
                    background-color: $main-color
                    outline: none
                    font-family: "Crimson-Roman"
                    font-size: 16px
                    text-transform: uppercase
                    text-align: center
                    span
                        position: absolute
                        top: 49%
                        left: 8%
                        transform: translateY(-50%)
        .reservation__findTableBtn
            display: block
            padding: 28px 50px 24px 50px
            color: $main-color
            background-color: #383033
            border: 2px solid #383033
            border-radius: 4px
            outline: none
            font-family: "Poppins-SemiBold"
            font-size: 14px
            text-transform: uppercase
    .reservation__borderBottom
        position: absolute
        bottom: -37px
        left: 0
        width: 100%
        height: auto

/* footer */

.footer
    .footer__top
        padding: 179px 0 172px
        background: url(../images/footer_bg.jpg) no-repeat center center
        .footerWorkTime__title
            margin: 0 0 35px
            color: $main-color
            font-family: "Poppins-SemiBold"
            font-size: 30px
            text-transform: uppercase
        .footerWorkTime__list
            display: flex
            justify-content: stretch
            align-items: flex-start
            .footerWorkTime__item
                margin-right: 96px
                &:last-child
                    margin-right: 0
                .footerWorkTime__day
                    margin: 0 0 12px
                    color: $accent-color
                    font-family: "Poppins-SemiBold"
                    font-size: 18px
                .footerWorkTime__time
                    color: $main-color
                    font-family: "Crimson-Roman"
                    font-size: 16px
        .footerLocation__title
            margin: 0 0 35px
            color: $main-color
            font-family: "Poppins-SemiBold"
            font-size: 30px
            text-transform: uppercase
        .footerLocation__list
            display: flex
            justify-content: stretch
            align-items: flex-start
            .footerLocation__item
                margin-right: 84px
                &:last-child
                    margin-right: 0
                .footerLocation__address
                    color: $main-color
                    font-family: "Crimson-Roman"
                    font-size: 16px
                .footerLocation__contact
                    margin: 0 0 12px
                    color: $main-color
                    font-family: "Crimson-Roman"
                    font-size: 16px
                    a,
                    span
                        color: $accent-color
                        font-family: "Crimson-Italic"
                        font-size: 18px
                        text-decoration: none
    .footer__bottom
        position: relative
        padding: 50px 0 36px
        background-color: #121212
        .container
            .row
                > div
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
        .footer__borderTop
            position: absolute
            top: -43px
            left: 0
            width: 100%
            height: auto
        .footerSocialList
            padding: 0
            margin: 0 0 24px
            list-style-type: none
            .footerSocialList__item
                float: left
                margin-right: 33px
                a
                    color: $main-color
                    font-size: 14px
                    span
                &:last-child
                    margin-right: 0
        .footer__copyright
            color: #454545
            font-size: 14px

/* media */

@media screen and (max-width: 992px)

    /* header */

    .header
        .header__mobileMenuIcon
            display: block
        .header__mobileMenu
            top: 73%
            left: 63%
            width: 36%
            &:before
                position: absolute
                top: -7px
                right: 47%
                z-index: 2
                content: ""
                width: 0
                height: 0
                border-left: 10px solid transparent
                border-right: 10px solid transparent
                border-bottom: 10px solid rgba(12, 12, 12, .9)
            &:after
                position: absolute
                top: -11px
                right: 47%
                z-index: 1
                content: ""
                width: 0
                height: 0
                border-left: 11px solid transparent
                border-right: 11px solid transparent
                border-bottom: 11px solid $main-color
        .header__mobileMenu.open
            opacity: 1
        .header__nav
            .menu
                .menu__item
                    float: none
                    display: block
                    margin: 0
                    text-align: center
                    a
                        padding: 20px 0
        .header__btn
            padding: 10px 15px

    /* hero */

    .hero
        padding: 30px 0 149px

    /* today */

    .today
        padding: 200px 0 147px
        .today__borderTop
            position: absolute
            top: -31px
        .today__tomatoesImg
            top: -256px
        .today__item
            align-items: center
            margin-bottom: 100px
            .today__textContent
                padding: 0 48px
                .today__number
                    margin: 0 0 14px
                .today__title
                    margin: 0 0 17px
                    &:before
                        left: -90px
                        width: 68px
                .today__price
                    margin: 0 0 22px
            .today__itemImg
                img
                    width: 100%
        .today__item.rightSide
            .today__textContent
                padding: 0 48px
                .today__title
                    &:before
                        left: -128px
                        width: 118px

    /* ourStory */

    .ourStory
        padding: 100px 0
        .ourStory__borderBottom
            bottom: -20px

    /* video */

    .video
        position: relative
        padding: 60px 0

    /* next */

    .next
        padding: 240px 0 70px
        .next__borderTop
            top: -29px
        .next__eggImg
            position: absolute
            top: -336px
        .next__item
            align-items: center
            .next__textContent
                padding: 40px 56px
                .next__title
                    &:before
                        left: -112px
                        width: 130px
            .next__itemImg
                img
                    width: 100%

    /* reservation */

    .reservation
        padding: 108px 0 70px
        .reservation__borderBottom
            bottom: -60px

    /* footer */

    .footer
        .footer__top
            padding: 150px 0 100px
            .footerWorkTime
                .footerWorkTime__title
                    text-align: center
                .footerWorkTime__list
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    .footerWorkTime__item
                        margin: 0 0 10px
            .footerLocation
                .footerLocation__title
                    text-align: center
        .footer__bottom
            .footer__borderTop
                top: -56px
            .footerSocialList
                margin: 0 0 45px
                .footerSocialList__item
                    margin-right: 80px
                    a
                        font-size: 38px

@media screen and (max-width: 768px)

    /* header */

    .header
        padding: 44px 0
        .header__mobileMenuIcon
            width: 76px
            padding: 11px 16px
            span
                width: 40px
        .header__mobileMenu
            left: 57%
        .header__nav
            .menu
                .menu__item
                    a
                        padding: 16px 0
        .header__btn
            padding: 8px 4px
            font-size: 11px
            width: 100%
        .header__logo
            width: 70px
            height: 16px
            margin: 0 auto

    /* hero */

    .hero
        padding: 14px 0 184px
        .hero__title
            font-size: 130px
        .hero__subtitle
            font-size: 16px

    /* today */

    .today
        padding: 150px 0 100px
        .today__borderTop
            top: -20px
        .today__tomatoesImg
            top: -195px
            max-width: 50%
        .today__item
            flex-direction: column
            align-items: center
            .today__textContent
                padding: 0
            .today__itemImg
                width: 80%
                margin-top: 20px
                img
                    width: 80%
                    margin: 0 auto
        .today__item.rightSide
            flex-direction: column
            align-items: center
            .today__textContent
                padding: 0
                .today__title
                    &:before
                        left: -85px
                        width: 71px

    /* ourStory */

    .ourStory
        .ourStory__content
            .ourStory__text
                margin: 0 0 50px
                text-align: left
                white-space: normal
        .ourStory__borderBottom
            bottom: -13px

    /* video */

    .video
        padding: 30px 0
        .video__content
            .video__title
                margin: 0
                font-size: 108px
            .video__subtitle
                font-size: 11px

    /* next */

    .next
        padding: 170px 0 100px
        .next__eggImg
            top: -229px
            left: 20px
            max-width: 50%
        .next__borderTop
            top: -18px
        .next__item
            flex-direction: column
            .next__textContent
                padding: 0 40px
                width: 70%
            .next__itemImg
                width: 100%
                img
                    width: 80%
                    margin: 0 auto

    /* reservation */

    .reservation
        padding: 100px 0
        background-size: cover
        .reservation__title
            margin: 0 0 14px
        .reservation__buttons
            ul
                margin: 0 -12px 19px
                li
                    width: 100%
                    margin-bottom: 20px
            .reservation__findTableBtn
                padding: 28px 60px 24px 60px
        .reservation__borderBottom
            bottom: -41px

    /* footer */

    .footer
        .footer__top
            padding: 100px 0 80px
            background-size: cover
            .footerWorkTime
                margin: 0 0 20px
                .footerWorkTime__list
                    align-items: center
                    width: 46%
                    margin: 0 auto
            .footerLocation
                .footerLocation__title
                    margin-left: -102px
                .footerLocation__list
                    flex-direction: column
                    align-items: center
                    width: 46%
                    margin: 0 auto
                    .footerLocation__item
                        &:first-child
                            margin-left: -21px
                            margin-right: 0
        .footer__bottom
            .footer__borderTop
                top: -40px
            .footerSocialList
                .footerSocialList__item
                    margin-right: 56px
                    a
                        font-size: 30px

@media only screen and (max-width : 480px)

    /* header */

    .header
        .header__btn
            span
                display: block
                margin: 0 0 5px
        .header__mobileMenu
            left: 59%

    /* hero */

    .hero
        .hero__title
            font-size: 98px
        .hero__subtitle
            font-size: 12px

    /* today */

    .today
        .today__borderTop
            top: -13px

    /* ourStory */

    .ourStory
        .ourStory__borderBottom
            border-bottom: -8px

    /* video */

    .video
        .video__content
            .video__title
                font-size: 73px
            .video__subtitle
                width: 50%
                font-size: 22px

    /* next */

    .next
        .next__borderTop
            top: -12px

    /* reservation */

    .reservation
        .reservation__borderBottom
            bottom: -27px

    /* footer */

    .footer
        .footer__top
            .footerWorkTime
                .footerWorkTime__list
                    width: 72%
            .footerLocation
                .footerLocation__list
                    width: 72%
        .footer__bottom
            .footer__borderTop
                top: -27px
            .footerSocialList
                .footerSocialList__item
                    margin-right: 40px